# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

chessfellows/admin/


# Access info
chessfellows/access


chessfellows/chess/migrations/

static/admin/
static/rest_framework/
chessfellows/uploaded_images/
chessfellows/static/admin/
chessfellows/static/rest_framework/
chessfellows/chess/static/less/
chessfellows/chess/static/js/jquery-1.11.0.js
chessfellows/chess/static/js/jquery.easing.min.js
chessfellows/chess/static/font-awesome-4.1.0/
chessfellows/chess/static/fonts/
chessfellows/chess/static/img/
chessfellows/chess/static/js/Chart.js
chessfellows/chess/static/js/bootstrap.js
chessfellows/chess/static/js/bootstrap.min.js
chessfellows/chess/static/js/country.js
chessfellows/chess/static/css/bootstrap.css
chessfellows/chess/static/css/bootstrap.min.css

chessfellows/chess/static/css/grayscale.css
chessfellows/chess/static/js/grayscale.js