{% extends "user_profile/profile_base.html" %}


{% block profile %}

<div class="col-md-10" >


        <ul class="nav nav-tabs" id="myTab">
          <li><a href="#personal" data-toggle="tab"> Game History </a></li>
          <li><a href="#stats" data-toggle="tab"> History Per Opponent </a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="personal">
                <div class="panel-body">
                    <p>List of all Matches</p>
                </div>
        </div>
            <div class="tab-pane" id="stats">
                          <div class="panel-body">
                            <p>  Matches Played against Opponents</p>
                          </div>

                          <!-- Table -->
                          <table class="table table-striped table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Country</th>
                                    <th>Age</th>
                                    <th>Regular (W, L, D)</th>
                                    <th>Blitz (W, L, D)</th>
                                    <th>Bullet (W, L, D)</th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for player in all_players %}
                                <tr>

                                    <td>{{ player.user.username }}</td>
                                    <td>{{ player.country }}</td>
                                    <td>{{ player.age }}</td>
                                    <td>( {{ player.reg_wins }}, {{ player.reg_losses }}, {{ player.reg_draws }} )</td>
                                    <td>( {{ player.bl_wins }}, {{ player.bl_losses }}, {{ player.bl_draws }} )}</td>
                                    <td>{( {{ player.bu_wins }}, {{ player.bu_losses }}, {{ player.bu_draws }} )</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                          </table>

            </div>
        </div>
</div>

{% endblock %}
