{% extends "user_profile/profile_base.html" %}


{% block profile %}

<div class="col-md-10" >


    <div class="col-md-10" >
        <ul class="nav nav-tabs" id="myTab">
          <li><a href="#personal" data-toggle="tab"> Home</a></li>
          <li><a href="#stats" data-toggle="tab"> Universal Rating</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="personal">
                    <div class="col-md-7">

                    </div>

                    <!-- Table -->
                    <div class="all_players col-md-5">
                         <div class="panel-body">
                            <p> All Available Players</p>
                          </div>
                          <table class="table table-striped table-bordered table-condensed table-hover scrollable">
                            <thead>
                                <tr>
                                    <th>Advanced Level Players</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ player.user.username }}</td>
                                </tr>


                            </tbody>
                          </table>

                           <table class="table table-striped table-bordered table-condensed table-hover scrollable">
                            <thead>
                                <tr>
                                    <th>Intermediate Level Players</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ player.user.username }}</td>
                                </tr>


                            </tbody>
                          </table>

                           <table class="table table-striped table-bordered table-condensed table-hover scrollable">
                            <thead>
                                <tr>
                                    <th>Beginner Level Players</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ player.user.username }}</td>
                                </tr>


                            </tbody>
                          </table>

                    </div>

            </div>

            <div class="tab-pane" id="stats">
                          <div class="panel-body">
                            <p> All registered users and their ratings are listed below.</p>
                          </div>

                          <!-- Table -->
                          <table class="table table-striped table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Country</th>
                                    <th>Age</th>
                                    <th>Regular Ratings</th>
                                    <th>Blitz Ratings</th>
                                    <th>Bullet Ratings</th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for player in all_players %}
                                <tr>

                                    <td>{{ player.user.username }}</td>
                                    <td>{{ player.country }}</td>
                                    <td>{{ player.age }}</td>
                                    <td>{{ player.reg_rating }}</td>
                                    <td>{{ player.bl_rating }}</td>
                                    <td>{{ player.bu_rating }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                          </table>

            </div>
        </div>


    </div>

</div>

{% endblock %}
