{% extends "user_profile/profile_base.html" %}

{% block profile %}
   <div class="col-md-10" >


        <ul class="nav nav-tabs" id="myTab">
          <li><a href="#personal" data-toggle="tab"><i class="fa fa-file-text-o"></i> Peronal Info</a></li>
          <li><a href="#stats" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Statistics</a></li>
          <li><a href="#progress" data-toggle="tab"><i class="fa fa-signal"></i> Progress</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane" id="personal">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="panel panel-default">
                            <div class="panel-body">
                                    <div class="row" >
                                      <div class="col-xs-12 col-sm-4 text-center" id="player_info">
                                                <img src="../../static/img/default_user_photo.jpg" alt="" class="center-block img-circle img-responsive">
                                                          <h6>Age: {{ player.age }}</h6>
                                                          <h6>Country: {{ player.country }}</h6>
                                                <button id ="edit_player_button"class="btn btn-success btn-group-sm"><i class="icon-white icon-heart"></i> Edit profile Information </button>
                                      </div><!--/col-->

                                     <div class="col-xs-12 col-sm-4 text-center" id="edit_player_info">

                                            {# Load the tag library #}
                                            {% load bootstrap3 %}

                                            {# Load CSS and JavaScript #}
                                            {% bootstrap_css %}
                                            {% bootstrap_javascript %}

                                            {# Display django.contrib.messages as Bootstrap alerts #}
                                            {% bootstrap_messages %}

                                            {# Display a form #}

                                            <form method="post" class="form" id="save_photo_info">{% csrf_token %}
                                              {% bootstrap_form player_form %}
                                              {% bootstrap_form_errors player_form layout='inline' %}
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-8">
                                                      <input type="submit" class="btn btn-primary btn-group-sm" value="Save Changes">
                                                      <input id="profile_info_cancel" type="reset" class="btn btn-group-sm" value="Cancel">
                                                    </div>
                                                </div>
                                            </form>
                                      </div><!--/col-->

                                        <div class="col-xs-12 col-sm-8" id='personal_info'>
                                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                            <p>Username: {{ user.username }}</p>
                                            <p>Ratings:
                                                <span class="label label-info tags">Regular: {{ regular.rating }}</span>
                                                <span class="label label-info tags">Blitz: {{ blitz.rating }}</span>
                                                <span class="label label-info tags">Bullet: {{ bullet.rating }}</span>
                                            </p>
                                            <p>Date Joined: {{ player.date }}</p>
                                            <button id ="edit_button"class="btn btn-success btn-group-small"><i class="icon-white icon-heart"></i> Edit Information </button>

                                        </div><!--/col-->


                                        <div class="col-xs-12 col-sm-8" id='edit_personal_info'>
                                            <h1>Edit Information</h1>
                                            <hr>

                                            <div class="row">
                                              <div class="col-md-9 personal-info">
                                                <h3>Personal info</h3>

                                                {# Load the tag library #}
                                                {% load bootstrap3 %}

                                                {# Load CSS and JavaScript #}
                                                {% bootstrap_css %}
                                                {% bootstrap_javascript %}

                                                {# Display django.contrib.messages as Bootstrap alerts #}
                                                {% bootstrap_messages %}

                                                {# Display a form #}

                                                <form method="post" class="form" id="save_personal_info">{% csrf_token %}
                                                  {% bootstrap_form user_form %}
                                                  {% bootstrap_form_errors user_form layout='inline' %}

                                                  <div class="form-group">
                                                    <label class="col-md-3 control-label"></label>
                                                    <div class="col-md-8">
                                                      <input type="submit" class="btn btn-primary" value="Save Changes">
                                                      <span></span>
                                                      <input id="personal_info_cancel" type="reset" class="btn btn-default" value="Cancel">
                                                    </div>
                                                  </div>
                                                </form>

                                              </div>
                                          </div>
                                        </div>
                                        <hr>
                                    </div><!--/row-->
                            </div><!--/panel-body-->
                      </div><!--/panel-->
                    </div>
                  </div>
                </div>
            </div>

            <div class="tab-pane" id="stats">
              <div class="panel-heading">Statistics</div>
                  <div class="panel-body">
                    <p> Shows all  games played; wins, losses and draws along with ratings for each category.</p>
                  </div>

                  <!-- Table -->
                  <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Current Rating</th>
                            <th>Total Game Played</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th>Draws</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Regular</td>
                            <td>{{ regular.rating }}</td>
                            <td>{{ regular.total }}</td>
                            <td>{{ regular.wins }}</td>
                            <td>{{ regular.losses }}</td>
                            <td>{{ regular.draws }}</td>
                        </tr>
                        <tr>
                            <td>Blitz</td>
                            <td>{{ blitz.rating }}</td>
                            <td>{{ blitz.total }}</td>
                            <td>{{ blitz.wins }}</td>
                            <td>{{ blitz.losses }}</td>
                            <td>{{ blitz.draws }}</td>
                        </tr>
                        <tr>
                            <td>Bullet</td>
                            <td>{{ bullet.rating }}</td>
                            <td>{{ bullet.total }}</td>
                            <td>{{ bullet.wins }}</td>
                            <td>{{ bullet.losses }}</td>
                            <td>{{ bullet.draws }}</td>
                        </tr>
                    </tbody>
                  </table>

              </div>

            <div class="tab-pane" id="progress">
                    <canvas id="myChart" width="800" height="400"></canvas>
              </div>

        </div>
   </div>

{% endblock %}


